<main>
    <section class="player player-1 player-active">
        <h2 class="name">Player 1</h2>
        <p class="score">0</p>
        <div class="current">
            <p class="current-label">Current</p>
            <p class="current-score">0</p>
        </div>
    </section>
    <section class="player player-2">
        <h2 class="name">Player 1</h2>
        <p class="score">0</p>
        <div class="current">
            <p class="current-label">Current</p>
            <p class="current-score">0</p>
        </div>
    </section>
    <img src="https://pig-game-v2.netlify.app/dice-1.png" alt="Playing dice" class="dice">
    <button class="button btn-new">🔄 New game</button>
    <button class="button btn-roll">🎲 Roll dice</button>
    <button class="button btn-hold">📥 Hold</button>
</main>