<main>
    <section class="player" [ngClass]="{'player-active' : player1.isActive, 'player-winner' : player1.isWinner}">
        <h2 class="name">{{player1.name}}</h2>
        <p class="score">{{player1.totalScore}}</p>
        <div class="current">
            <p class="current-label">Current</p>
            <p class="current-score">{{player1.currentScore}}</p>
        </div>
    </section>

    <section class="player" [ngClass]="{'player-active' : player2.isActive, 'player-winner' : player2.isWinner}">
        <h2 class="name">{{player2.name}}</h2>
        <p class="score">{{player2.totalScore}}</p>
        <div class="current">
            <p class="current-label">Current</p>
            <p class="current-score">{{player2.currentScore}}</p>
        </div>
    </section>

    <img [ngClass]="{'hidden' : !imgPath}" [src]="imgPath" alt="Playing dice" class="dice">

    <button class="button btn-new" (click)="newGame()">🔄 New game</button>
    <button class="button btn-roll" (click)="rollDice()">🎲 Roll dice</button>
    <button class="button btn-hold" (click)="holdScore()">📥 Hold</button>
</main>